/* Apply a natural box layout model to all elements */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Normalize
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}


/* Grid
   ========================================================================== */
body {
    margin: 0;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid-pad {
    padding: 20px 0 0px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
.push-right {
    float: right;
}

/* Content Columns */
.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}
.col-1-2, .col-6-12 {
    width: 50%;
}
.col-1-3, .col-4-12 {
    width: 33.33%;
}
.col-1-4, .col-3-12 {
    width: 25%;
}
.col-1-5 {
    width: 20%;
}
.col-1-6, .col-2-12 {
    width: 16.667%;
}
.col-1-7 {
    width: 14.28%;
}
.col-1-8 {
    width: 12.5%;
}
.col-1-9 {
    width: 11.1%;
}
.col-1-10 {
    width: 10%;
}
.col-1-11 {
    width: 9.09%;
}
.col-1-12 {
    width: 8.33%
}

/* Layout Columns */
.col-11-12 {
    width: 91.66%
}
.col-10-12 {
    width: 83.333%;
}
.col-9-12 {
    width: 75%;
}
.col-5-12 {
    width: 41.66%;
}
.col-7-12 {
    width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    [class*='col-'] {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Main
   ========================================================================== */
body {
    background: #fff;
    padding: 0;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: bold;
}

/* Links */
a {
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
a:hover {
    border-bottom: 1px solid #999;
}
a,
a:visited {
    color: #1863A0;
}

/* Blockquote */
blockquote,
blockquote p {
    line-height: 1.5;
    color: #777;
}
blockquote {
    margin: 0 0 17px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}
blockquote cite {
    display: block;
    font-size: 13px;
    color: #555;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #555;
}

abbr, acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    border-bottom: 1px solid #ddd;
    cursor: help;
}
abbr {
    text-transform: none;
}

/* Header */
header {
  text-align: center;
  position: relative;
  margin-top: -605px;
  line-height: .75;
}
header h1 {
    font-weight: 500;
    font-size: 70px;
    font-size: 7.0rem;
    position: relative;
    margin-bottom: 0;
}

.subheader {
    line-height: 1.3;
    color: #777;
    font-weight: 300;
    margin-bottom: 17px;
}

/* Main body */
.doc {
    font: 17px/27px Georgia, Times, “Times New Roman”, serif;
    position: relative;
    margin-top: 0;
    top: -95px;
    z-index: 1;
    padding-top: 115px;
    overflow: hidden;
}
.doc h2 { font-size: 37px; }
.doc h3 { font-size: 27px; }

/* Sidebar */
.sidebar {
    float: left;
    position: fixed;
}
.sidebar p {
    font: 13px/21px Georgia, Times, “Times New Roman”, serif;
    color: #555;
    margin: 10px 0;
}
.sidebar h2 {
    font-size: 36px;
}
.sidebar h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
    padding: 0;
}
.sidebar ul {
    font: 13px/21px Georgia, Times, “Times New Roman”, serif;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.sidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    list-style: square;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}



/* Code
   ========================================================================== */
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    margin-bottom: 20px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    line-height: 19px;
}
code {
    margin: 0px 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    font-size: 12px;
}
pre code {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
pre, code {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f8f8f8;
    color: #333;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
pre, pre code {
    font-size: 13px;
}
pre .comment {
    color: #998;
}
pre .support {
    color: #0086B3;
}
pre .tag, pre .tag-name {
    color: navy;
}
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    color: #099;
    font-weight: normal;
}
pre .entity.class {
    color: #458;
}
pre .entity.id, pre .entity.function {
    color: #900;
}
pre .attribute, pre .variable {
    color: teal;
}
pre .string, pre .support.value  {
    color: #d14;
    font-weight: normal;
}
pre .regexp {
    color: #009926;
}