/* Apply a natural box layout model to all elements */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Normalize
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}


/* Grid
   ========================================================================== */
.row { width: 960px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0; }
.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
.one, .row .one { width: 8.33333%; }
.two, .row .two { width: 16.66667%; }
.three, .row .three { width: 25%; }
.four, .row .four { width: 33.33333%; }
.five, .row .five { width: 41.66667%; }
.six, .row .six { width: 50%; }
.seven, .row .seven { width: 58.33333%; }
.eight, .row .eight { width: 66.66667%; }
.nine, .row .nine { width: 75%; }
.ten, .row .ten { width: 83.33333%; }
.eleven, .row .eleven { width: 91.66667%; }
.twelve, .row .twelve { width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


/* Main
   ========================================================================== */
body {
    background: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: bold;
}

/* Links */
a {
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
a:hover {
    border-bottom: 1px solid #999;
}
a,
a:visited {
    color: #1863A0;
}

/* Blockquote */
blockquote,
blockquote p {
    line-height: 1.5;
    color: #777;
}
blockquote {
    margin: 0 0 17px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}
blockquote cite {
    display: block;
    font-size: 13px;
    color: #555;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #555;
}

abbr, acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    border-bottom: 1px solid #ddd;
    cursor: help;
}
abbr {
    text-transform: none;
}

/* Header */
header {
  text-align: center;
  position: relative;
  margin-top: -605px;
  line-height: .75;
}
header h1 {
    font-weight: 500;
    font-size: 70px;
    font-size: 7.0rem;
    position: relative;
    margin-bottom: 0;
}

.subheader {
    line-height: 1.3;
    color: #777;
    font-weight: 300;
    margin-bottom: 17px;
}

/* Main body */
.doc {
    font: 17px/27px Georgia, Times, “Times New Roman”, serif;
    position: relative;
    margin-top: 0;
    top: -95px;
    z-index: 1;
    padding-top: 115px;
    overflow: hidden;
}
.doc h2 { font-size: 37px; }
.doc h3 { font-size: 27px; }

/* Sidebar */
.sidebar {
    float: left;
    position: fixed;
}
.sidebar p {
    font: 13px/21px Georgia, Times, “Times New Roman”, serif;
    color: #555;
    margin: 10px 0;
}
.sidebar h2 {
    font-size: 36px;
}
.sidebar h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
    padding: 0;
}
.sidebar ul {
    font: 13px/21px Georgia, Times, “Times New Roman”, serif;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
.sidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    list-style: square;
}

.active {
    font-weight: 500;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* Code
   ========================================================================== */
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    margin-bottom: 20px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    line-height: 19px;
}
code {
    margin: 0px 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    font-size: 12px;
}
pre code {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
pre, code {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f8f8f8;
    color: #333;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
pre, pre code {
    font-size: 13px;
}
pre .comment {
    color: #998;
}
pre .support {
    color: #0086B3;
}
pre .tag, pre .tag-name {
    color: navy;
}
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    color: #099;
    font-weight: normal;
}
pre .entity.class {
    color: #458;
}
pre .entity.id, pre .entity.function {
    color: #900;
}
pre .attribute, pre .variable {
    color: teal;
}
pre .string, pre .support.value  {
    color: #d14;
    font-weight: normal;
}
pre .regexp {
    color: #009926;
}


/* Mobile
   ========================================================================== */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
    .column, .columns { width: auto !important; float: none; }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
    .column:after, .columns:after { clear: both; }
}

/* Standard (large) display targeting */
.show-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .show-for-xlarge { display: none !important; }
.hide-for-xlarge, .show-for-large, .show-for-large-up, .hide-for-small, .hide-for-medium, .hide-for-medium-down { display: block !important; }

/* Very large display targeting */
@media only screen and (min-width: 1441px) {
    .hide-for-small, .hide-for-medium, .hide-for-medium-down, .hide-for-large, .show-for-large-up, .show-for-xlarge { display: block !important; }
    .show-for-small, .show-for-medium, .show-for-medium-down, .show-for-large, .hide-for-large-up, .hide-for-xlarge { display: none !important; }
}

/* Medium display targeting */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .hide-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { display: block !important; }
    .show-for-small, .hide-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { display: none !important; }
}

/* Small display targeting */
@media only screen and (max-width: 767px) {
    .show-for-small, .show-for-medium-down, .hide-for-medium, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { display: block !important; }
    .hide-for-small, .show-for-medium, .show-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { display: none !important; }
}

/* Orientation targeting */
.show-for-landscape, .hide-for-portrait { display: block !important; }
.hide-for-landscape, .show-for-portrait { display: none !important; }
@media screen and (orientation: landscape) {
    .show-for-landscape, .hide-for-portrait { display: block !important; }
    .hide-for-landscape, .show-for-portrait { display: none !important; }
}
@media screen and (orientation: portrait) {
    .show-for-portrait, .hide-for-landscape { display: block !important; }
    .hide-for-portrait, .show-for-landscape { display: none !important; }
}

/* Touch-enabled device targeting */
.show-for-touch { display: none !important; }
.hide-for-touch { display: block !important; }
.touch .show-for-touch { display: block !important; }
.touch .hide-for-touch { display: none !important; }